<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">tiktok scraper</span>
            </a>
        </header>

        <div class="p-5 mb-4 text-white bg-dark rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">tiktok scraper [<%= scrapeNumber %>] </h1>
                <p class="col-md-8 fs-4"></p>
                <iframe name="dummy_iframe" width="0" height="0" style="display: none;"></iframe>
                <form action="/api/scrape" method="POST" target="dummy_iframe">
                    <button class="btn btn-outline-light" type="submit">Scrape</button>
                </form>
            </div>
        </div>

        <div class="p-5 mb-4 text-white bg-secondary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">youtube uploader. about [<%= scrapeNumber - uploadNumber%>] more to upload</h1>
                <p class="col-md-8 fs-4"></p>
                <iframe name="dummy_iframe" width="0" height="0" style="display: none;"></iframe>
                <form action="/api/upload" method="POST" target="dummy_iframe">
                    <button class="btn btn-outline-light" type="submit">Upload</button>
                </form>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>